<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnWarning="true"
         failOnNotice="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>

        <testsuite name="All">
            <directory suffix="Test.php">tests/Unit</directory>
            <directory suffix="Test.php">tests/Integration</directory>
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <!-- Source code coverage configuration -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!-- PHP configuration -->
    <php>
        <const name="TEST_MODE" value="true"/>
        <const name="BASE_PATH" value="."/>
    </php>
</phpunit>

